<p>
	<b>Комментатор:</b>
	<%= comment.commenter %>
</p>
<p>
	<b>Комментарий:</b>
	<%= comment.body %>
</p>
<p class='delete-comment'>
	<%= link_to 'Удалить', [comment.post, comment],
								:confirm => 'Are you sure?',
								:method => :delete %>
</p>
