<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="field commenter1">
		Ваше имя<br />
		<%= f.text_field :commenter %>
	</div>
	<div class="field comment1">
		Введите комментарий
		<%= f.text_area :body %>
	</div>
		<div class="actions">
		<%= f.submit "Добавить комментарий"%>
	</div>
<% end %>
