<div class="account-container">
  <% if @user.isblocked == false %>
  <div class="user-info">
    <%= react_component 'M_UserInfo', {
      user: @user,
      followees:  @user.followees.count,
      followers: @user.followers.count
    }%>

    <% if user_signed_in? && current_user.isadmin == true%>
        <div class="admin-btn">
            <%= link_to "Панель управления", admin_path %>
        </div>
    <% end %>

    <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>



  </div>
  <div class="user-posts">
    <% @posts.each do |post| %>
      <%= react_component 'M_Post', { title: post.title, post: post}%>
    <% end %>
  </div>
  <% else %>
  <p style='margin: 0 auto;'>Пользователь заблокирован</p>
  <% end %>
</div>
