




@import 'posts.css.scss';



html, body {
    margin: 0;
    padding: 0;
    font-family: 'Golos';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        font-family: "Golos"
    }
}


@font-face {
   font-family: 'Golos';
   font-style: normal;
   font-weight: normal;
   src: url('Golos_Text_Regular.ttf');
}

@font-face {
   font-family: 'Golos-medium';
   font-style: normal;
   font-weight: 500;
   src: url('Golos Text_Medium');
}

@font-face {
   font-family: 'Golos-demibold';
   font-style: normal;
   font-weight: 600;
   src: url('Golos Text_DemiBold.ttf');
}

@font-face {
   font-family: 'Golos-bold';
   font-style: normal;
   font-weight: 700;
   src: url('Golos Text_Bold.ttf');
}

@font-face {
   font-family: 'Golos-black';
   font-style: normal;
   font-weight: 900;
   src: url('Golos Text_Black.ttf');
}


@mixin H1 {
    font-family: Golos;
    font-size: 72px;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: -0.02em;
    text-align: left;
}

@mixin H2 {
    font-family: Golos;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.02em;
}

@mixin H3 {
    font-family: Golos;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.02em;
}

@mixin Text {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

@mixin Secondary_text {
    font-family: Golos;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.02em;
}

@mixin Tags {
    font-family: Golos;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
}

h2 {
  font-family: Golos;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.02em;
}

h3 {
  font-family: Golos;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  margin-top: 0;
}


$dark-color: #1C1C1C;
$light-blue: #ECF4F9;
$dark-blue: #60798E;

// базовые цвета
$black-listium: #1C1C1C;
$white-listium: #FFFFFF;

// основные цвета
$violet-listium: #5920E9;
$pink-listium: #FABBC1;
$yellow-listium: #EBC068;
$green-listium: #71DA5B;
$orange-listium: #EE754A;
$blue-listium: #AAB6FF;

// цвета состояний
$violet-listium-dark: #3A266F;
$error-listium: #F26F6F;

// доп цвета
$background-gray-listium: #FAFAFA;
$light-gray-listium:#DEDEDE;
$dark-gray-listium:#ABABAB;




// COMPONENTS______________________________

// QUARKS


.Q_Logo {
    height: 43px;
    width: 215px;
    border-radius: 0px;
    background-image: url("Q_Logo/Q_Logo_White.svg");

}


.Q_Numbers {
  display: flex;
  .Q_Number {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    padding: 0px;

  }
  .Q_Number1 {
    width: 40.2px;
    height: 67px;
  }
  .Q_Number_0 {
      background-image: url("Q_Number/Number=0.svg");
      width: 48.25px;
      height: 67px;
  }

  .Q_Number_1 {
      background-image: url("Q_Number/Number=1.svg");
      width: 45.2px;
      height: 67px;
  }

  .Q_Number_2 {
      background-image: url("Q_Number/Number=2.svg");
      width: 48.06px;
      height: 67px;
  }

  .Q_Number_3 {
      background-image: url("Q_Number/Number=3.svg");
      width: 46.4px;
      height: 67px;
  }

  .Q_Number_4 {
      background-image: url("Q_Number/Number=4.svg");
      width: 52.64px;
      height: 67px;
  }

  .Q_Number_5 {
      background-image: url("Q_Number/Number=5.svg");
      width: 46.17px;
      height: 67px;
  }

  .Q_Number_6 {
      background-image: url("Q_Number/Number=6.svg");
      width: 47.33px;
      height: 67px;
  }

  .Q_Number_7 {
      background-image: url("Q_Number/Number=7.svg");
      width: 45.94px;
      height: 67px;
  }

  .Q_Number_8 {
      background-image: url("Q_Number/Number=8.svg");
      width: 48.22px;
      height: 67px;
  }

  .Q_Number_9 {
      background-image: url("Q_Number/Number=9.svg");
      width: 47.33px;
      height: 67px;
  }
  .Q_Number2 {
      width: 102px;
      height: 67px;
  }
  .Q_Number2_0 {
      background-image: url("Q_Number/Number2=0.svg");
  }

  .Q_Number2_1 {
      background-image: url("Q_Number/Number2=1.svg");
  }

  .Q_Number2_2 {
      background-image: url("Q_Number/Number2=2.svg");

  }

  .Q_Number2_3 {
      background-image: url("Q_Number/Number2=3.svg");
  }

  .Q_Number2_4 {
      background-image: url("Q_Number/Number2=4.svg");
  }

  .Q_Number2_5 {
      background-image: url("Q_Number/Number2=5.svg");
  }

  .Q_Number2_6 {
      background-image: url("Q_Number/Number2=6.svg");
  }

  .Q_Number2_7 {
      background-image: url("Q_Number/Number2=7.svg");
  }

  .Q_Number2_8 {
      background-image: url("Q_Number/Number2=8.svg");
  }

  .Q_Number2_9 {
      background-image: url("Q_Number/Number2=9.svg");
  }
}

.Q_CoverMain {
  height: 700px;
  background-image: url("Q_CoverMain.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #111111;
  box-sizing: border-box;
  padding: 150px 50px;
  .Q_CoverMain_title{
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 105%;
    letter-spacing: -0.04em;
    margin: 0;
    color: $white-listium;
    max-width: 565px;
  }
  .Q_CoverMain_description{
    margin-top: 20px;
    font-family: 'Golos';
    font-style: normal;
    color: $white-listium;
    font-weight: 400;
    font-size: 24px;
    line-height: 105%;
    letter-spacing: -0.04em;
    max-width: 505px;
  }
  .Q_CoverMain_bnts {
    display: flex;
    .Q_CoverMain_More {
      display: flex;
      margin-right:20px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 16px;
      box-sizing: border-box;
      width: 171px;
      height: 44px;
      background: #FFFFFF;
      border-radius: 8px;
      font-family: 'Golos';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #1C1C1C;
    }
    .Q_CoverMain_Reg {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 16px;
      box-sizing: border-box;
      border: 2px solid #FFFFFF;
      width: 171px;
      height: 44px;
      border-radius: 8px;
      font-family: 'Golos';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
    }
  }

}

.Q_ProfilePic {
  width: 274px;
  height: 274px;
  background-color: $pink-listium;
  border-radius: 40px;
}

// QUARKS

// ATOMS

.A_Author {
  display: flex;
  .userPic {
    width: 52px;
    height: 52px;
    background-color: $pink-listium;
    border-radius: 100px;
    margin-right: 10px;
  }
  .user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      color: $black-listium;
      display: flex;
    }
    .nickname {
      color: $dark-gray-listium;
      display: flex;
    }
  }
}


.A_Search {
    input[type="submit"] {
        display: none;
    }
    input[type="search"] {
    padding: 18px 14px;

    position: static;
    width: 310px;
    height: 40px;
    background: $white-listium;
    border: 2px solid $black-listium;
    box-sizing: border-box;
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;

    color: $dark-gray-listium;
    @include Text;
    }
}

.A_Tags {
    display: flex;
    flex-grow: 1;
    padding-top: 3px;

}

.A_Tag {
    background-color: $light-gray-listium;
    display: flex;
    height: 22px;
    @include Tags;
    color: $black-listium;
    padding: 0px 8px;
    align-items: center;
    border-radius: 13px;
    margin-right: 5px;
    width: fit-content;
}
.A_Tag:hover {
    background-color: $blue-listium;
}

.A_Tag_Big {
  background-color: $white-listium;
  height: 26px;
  border: 1.5px solid $black-listium;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 5px 10px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  width: 750px;
  .left-panel {

    p {
      @include Secondary_text;
      color: $dark-gray-listium;
      margin: 0;
      width: 190px;
    }
  }
  .right-panel {
    width: 534px;
  }
}

.A_AddCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 8px 13px;
  margin-bottom: 8px;

  position: relative;
  width: 172px;
  height: 392px;
  border-radius: 5px;
  border: 1px solid $light-gray-listium;
  color: $dark-gray-listium;
  background-color: $background-gray-listium;
}

.A_Cover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 8px 13px;

  position: relative;
  width: 172px;
  height: 392px;
  border-radius: 5px;
  .description {
    position: static;
    height: 188px;
    left: 4.65%;
    right: 7.56%;
    top: calc(50% - 188px/2 + 95px);
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: $black-listium;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 134px 0px;
  }
}

// ATOMS

// MOLECULES




.posts_container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0px 50px;

}

.M_UserInfo {
  display: flex;
  width: 363px;
  flex-direction: column;
  p {
    max-width: 340px;
  }
  .name {
    margin-top: 10px;
    width: 363px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #1C1C1C;
  }
  .username {
    margin-top: 4px;
    @include H3;
    color: $dark-gray-listium;
  }
  .stats {
    display: flex;
    margin-top: 8px;
    div {
      margin-right: 7px;
      .num {
        @include H3;
      }
      .cap {
        @include Secondary_text;
        color: $dark-gray-listium;
      }
    }
  }
}


.M_Post {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  .info {
    .tags {
      display: flex;
      margin-top: 4px;
    }
    .datas {
      .title {
        @include H3;
        position: static;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 42.28%;
        /* identical to box height, or 122% */

        display: flex;
        align-items: center;
        letter-spacing: -0.02em;

        /* black_listium */

        color: $black-listium;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 13px 0 3px;

        max-width: 172px;
      }
      .tracks {
        @include Secondary_text;
        color: $dark-gray-listium;
      }
    }
  }
}

// MOLECULES


// ORGANISMS

.O_Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: $black-listium;
    padding-left: 50px;
    padding-right: 50px;
    .icons a{
        margin-left: 50px;
    }
}

.post-container {
  margin: 0 auto;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 0px 50px;
  width: 938px;
}

#cke_post_content {
    width: 550px;
    margin-bottom: 15px;
}

.O_PostInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 953px;
  .info {
    display: flex;
    flex-direction: column;
    width: 555px;
    height: 100%;
    .title {
      @include H2;
      margin-bottom: 16px;
    }
    .tags {
        display: flex;
        margin-bottom: 30px;
    }
    .description {
      display: flex;
      flex-direction: column;
      .title {
        margin-bottom: 10px;
        @include H3;
      }
      .text {
        @include Text;
        p {
          margin: 0;
        }
      }
    }
    .reaction {
      display: flex;
      align-items: flex-end;
      margin-top: 30px;
      img {
        margin-right: 10px;
      }
    }
  }
  .sideInfo {
    position: relative;
    top: 10px;
    display: flex;
    width: 172px;
    .author {

    }
  }

}


.field .form-control{
  display: none;
}

#content {
  display: none;
}

// ORGANISMS

// COMPONENTS ________________________________

.account-container {
  margin-top: 50px;
  box-sizing: border-box;
  padding: 0px 50px 50px;
  display: flex;
  .user-posts {
    display: flex;
    div {
      margin-right: 10px;
    }
  }
  .user-info {

  }
}

.top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  .top-menu-links {
      display: flex;
      height: 100%;
      align-items: center;
    .admin-btn {
        background-color: #ECF4F9;

        a {
            font-family: 'Golos-medium';
            color: $dark-blue;
        }
        height: 100%;
        display: flex;
        align-items: center;
    }
  }
  .top-menu-nav {
    display: flex;
    align-items: center;
      .logo {
          background-image: url("logo.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 40px;
            width: 160px;
            margin: 0 20px;
      }
  }
  img {
      float: left;
  }
}
.top_menu a {
  margin: 0 20px;
  color: black;
  font-size: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

footer {
    padding: 20px 20px;
    /* height: 110px; */
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    border-top: 1px solid #ddd;
    .school {
        display: flex;
        flex-direction: column;
        font-family: 'Golos';
        font-size: 18px;
        justify-content: flex-end;
    }
    .soc-media {
        //display: flex;
        display: none;
        width: 148px;
        justify-content: space-between;
        align-items: flex-end;
    }
    img{
        height: 40px;
        width: 40px;
    }
}



//admin page
.admin-page {
    display: flex;
    flex-grow: 1;
    .admin-nav {
        flex-basis: 250px;
        background-color: #ECF4F9;
        .admin-link {
            display: flex;
            align-items: center;
            padding-left: 20px;
            height: 70px;
            .admin-logo {
                background-repeat: no-repeat;
                background-size: contain;
                height: 18px;
                width: 18px;
                margin-right: 10px;
            }
            a {
                font-size: 18px;
                color: #60798E;
                font-family: 'Golos-demibold';
            }
            &:hover {
                background-color: rgba(200, 218, 229, 0.5);
            }
        }

    }
    .admin-content {
        padding: 20px;
        .create-new-btn {
            float: right;
            margin: 0;
            background-color: $light-blue;
            border: 1px solid $dark-blue;
            box-sizing: border-box;
            padding: 14px 20px;
            border-radius: 46px;
            font-style: normal;
            font-weight: 600;
            a {
                font-size: 16px;
                color: $dark-blue;
            }
        }
        .filter {
            margin-top: 20px;
            span {
                a {
                    font-size: 16px;
                    font-weight: 600;
                    color: $dark-blue;
                }
            }
        }
        table {
            a {
                color: $dark-blue;
                font-family: 'Golos-demibold';
            }
            span {
                margin-right: 10px;
            }
            border-spacing: inherit;
            min-width: 1000px;
            padding-top: 20px;
            thead {
                background-color: $light-blue;
                height: 70px;
                color: $dark-blue;
                max-width: 140px;
                font-weight: 500;
                tr {
                    th {
                        padding: 0 20px;
                        text-align: start;
                    }
                }
            }
            tbody {
                tr {
                    height: 50px;
                    &:hover {
                        background-color: rgba(200, 218, 229, 0.2);
                    }
                    td {
                        padding: 20px 20px;
                        box-sizing: border-box;
                        text-align: start;
                        vertical-align: top;
                        font-weight: 500;
                        max-width: 150px;
                        .delete {
                            a {
                                color: #EE754A;
                            }

                        }
                    }
                }
            }
        }
        .search-form {
            display: inline-block;
            margin: 0;
            p {
                color: $light-blue;
                margin: 0;

            }
            input[type="search"] {
                width: 450px;
                height: 50px;
                margin: 0;
                background: #FFFFFF;
                border: 1px solid #C8DAE5;
                padding-left: 20px;
                box-sizing: border-box;
                border-radius: 46px;
                display: flex;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: $light-blue;

            }
            ::placeholder {
              color: #C8DAE5;
              opacity: 1;

            }


        }
    }
}




.stretch {
    flex-grow: 1;
}

input[type="submit"] {

/* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 16px;
      border: none;

      width: 171px;
      height: 44px;
      /* black_listium */

      background: #1C1C1C;
      border-radius: 8px;
      color: $white-listium;
      @include Text;

}

.btn {
    display: inline-block;
    padding: 5px 15px;
    color: $dark-blue;
    font-family: "Golos-medium";
    font-size: 16px;
    margin-bottom: 10px;
    background: $white-listium;
    border: 2px solid $black_listium;
    box-sizing: border-box;
    border-radius: 8px;
    a {
        color: $black-listium;
    }
}


.form-label {
  @include Secondary_text;
}
input[type="text"] {
  /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 12px;

    position: static;
    width: 554px;
    height: 52px;

    /* light-sphere */

    background: #FFFFFF;
    /* black_listium */

    border: 2px solid #1C1C1C;
    box-sizing: border-box;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 6px 0px;
    margin-bottom: 15px;

    @include Text;
}
::placeholder {
  color: $dark-gray-listium;
}
:disabled {
  border: 2px solid $dark-gray-listium !important;
  color: $dark-gray-listium;
}

select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 12px;

  position: static;
  width: 554px;
  height: 52px;

  /* light-sphere */

  background: #FFFFFF;
  /* black_listium */

  border: 2px solid #1C1C1C;
  box-sizing: border-box;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 6px 0px;
  margin-bottom: 15px;

  @include Text;
}

#cke_post_content {
  margin-bottom: 15px;
}

.alone-form {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}








//account
.account {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    .info {

        display: flex;
        .avatar {
            height: 150px;
            border-radius: 100px;
            background-color: #FADBE0;
            flex-basis: 150px;
        }
        .user-info {
            margin-left: 20px;
            flex-grow: 1;
            p {
                margin: 10px 0;
                font-size: 18px;
            }
            .user-title {
                font-family: 'Golos-bold';
                font-size: 38px;
            }
            h5 {
                display: inline-block;
            }
            .btn {
                display: inline-block;
                background-color: $light-blue;
                border-radius: 38px;
                padding: 5px 15px;
                a {
                    color: $dark-blue;
                    font-family: "Golos-medium";
                    font-size: 16px;
                }
            }
        }
    }
    .playlists {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div {
            display: flex;
            width: 340px;
            margin-bottom: 20px;
            position: relative;
            .pic {
                height: 90px;
                background-color: #71DA5B;
                border-radius: 15px;
                margin-right: 10px;
                flex-basis: 260px;
            }
            .post-description {
                display: flex;
                flex-direction: column;
            }
            .title {
                padding-top: 3px;
                font-size: 44px;

                line-height: 40px;
                font-family: 'Golos';
                margin-bottom: 10px;
                a {
                    font-size: 18px;
                    font-family: 'Golos';
                    color: black;
                    font-weight: 600;
                }
            }
            // .tags {
            //     display: flex;
            //     flex-grow: 1;
            //     padding-top: 3px;
            //     div {
            //         background-color: #E5E5E5;
            //         display: flex;
            //         font-size: 12px;
            //         height: 22px;
            //         color: black;
            //         padding: 0px 8px;
            //         align-items: center;
            //         font-family: 'Golos';
            //         border-radius: 13px;
            //         margin-right: 5px;
            //     }
            // }
            .name {
                display: flex;
                margin-bottom: 5px;
                div {
                    width: 20px;
                    height: 20px;
                    background-color: orange;
                    border-radius: 10px;
                }
                span {
                    font-family: 'Golos';
                    font-size: 14px;
                    padding-top: 1px;
                    padding-left: 4px;
                }
            }
        }
    }
}



//authorization




//posts

.posts-container {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.bin {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 4px;
    right: 0;
    background-image: url("bin.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.edit {
    position: absolute;
    width: 18px;
    height: 20px;
    top: 4px;
    right: 0;
    background-image: url("edit.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.posts-container > div {
    display: flex;
    width: 340px;
    margin-bottom: 20px;
    position: relative;
    .pic {
        height: 90px;
        width: 90px;
        background-color: #EBC068;
        border-radius: 15px;
        margin-right: 10px;
    }
    .post-description {
        display: flex;
        flex-direction: column;
    }
    .title {
        padding-top: 3px;
        a {
            font-size: 18px;
            font-family: 'Golos';
            color: black;
        }
    }
    // .tags {
    //     display: flex;
    //     flex-grow: 1;
    //     padding-top: 3px;
    //     div {
    //         background-color: #E5E5E5;
    //         display: flex;
    //         font-size: 12px;
    //         height: 22px;
    //         color: black;
    //         padding: 0px 8px;
    //         align-items: center;
    //         font-family: 'Golos';
    //         border-radius: 13px;
    //         margin-right: 5px;
    //     }
    // }
    .name {
        display: flex;
        margin-bottom: 5px;
        div {
            width: 20px;
            height: 20px;
            background-color: orange;
            border-radius: 10px;
        }
        span {
            font-family: 'Golos';
            font-size: 14px;
            padding-top: 1px;
            padding-left: 4px;
        }
    }
}

h2 {
    font-family: Golos;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.02em;
}

.main {
    display: flex;
    flex-direction: column;
    width: 700px;
    box-sizing: border-box;
    height: 233px;
    background-color: #5920E9;
    border-radius: 20px;
    margin: 20px auto;
    padding: 15px;
    justify-content: space-between;
    color: #FABBC1;
    background-image: url("star.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    .main-head {
        font-family: 'Golos', sans-serif;
        font-size: 14px;
    }
    .main-name {
        font-family: 'Golos';
        font-size: 44px;
    }
    .main-author {
        display: flex;
        margin-bottom: 5px;
        div {
            width: 20px;
            height: 20px;
            background-color: orange;
            border-radius: 10px;
        }
        span {
            font-family: 'Golos', sans-serif;
            font-size: 14px;
            padding-top: 1px;
            padding-left: 4px;
        }
    }
}

.create_btn {
    font-size: 20px;
    font-family: 'Golos';
    text-align: center;
    background-color: #5920E9;
    border-radius: 20px;
    width: 126px;
    margin: 0 auto;
    padding: 10px;
    a {
        text-decoration: none;
        color: #FABBC1;
    }
}


.name {
    display: flex;
    div {
        width: 20px;
        height: 20px;
        background-color: orange;
        border-radius: 10px;
    }
    span {
        font-family: 'Golos', sans-serif;
        font-size: 14px;
        padding-top: 1px;
        padding-left: 4px;
    }
}

// .tags {
//     display: flex;
//     flex-grow: 1;
//     padding-top: 3px;
//     div {
//         background-color: #E5E5E5;
//         display: flex;
//         font-size: 12px;
//         height: 22px;
//         color: black;
//         padding: 0px 8px;
//         align-items: center;
//         font-family: 'Golos';
//         border-radius: 13px;
//         margin-right: 5px;
//     }
// }

.show-main-screen {
    display: flex;
    margin: 20px auto;
    width: 700px;
    position: relative;
    height: 230px;
    .pic {
        height: 100%;
        width: 230px;
        background-color: orange;
        border-radius: 15px;
        margin-right: 10px;
    }
    .post-description {
        display: flex;
        flex-direction: column;
    }
    .title {
        padding-top: 3px;
        font-size: 44px;
        font-family: 'Golos';
        margin-bottom: 20px;
    }
    .tags {
        display: flex;
        flex-grow: 1;
        padding-top: 3px;
        div {
            background-color: #E5E5E5;
            display: flex;
            font-size: 12px;
            height: 22px;
            color: black;
            padding: 0px 8px;
            align-items: center;
            font-family: 'Golos';
            border-radius: 13px;
            margin-right: 5px;
        }
    }
    .name {
        display: flex;
        margin-bottom: 5px;

        div {
            width: 20px;
            height: 20px;
            background-color: orange;
            border-radius: 10px;
        }
        span {
            font-family: 'Golos', sans-serif;
            font-size: 14px;
            padding-top: 1px;
            padding-left: 4px;
        }
    }
    .bin {
        width: 30px;
        height: 30px;
        bottom: 0px;
        right: 0;
    }
    .edit {
        width: 30px;
        height: 30px;
        bottom: 0px;
        right: 0;
    }

}

.show-description {
    width: 700px;
    margin: 0 auto;
    h2 {
        font-size: 24px;
    }
    .likes {
        display: flex;
        span {
            margin-right: 10px;
        }
        .like {
            border-radius: 0;
            background-repeat: no-repeat;
            background-size: contain;
            width: 26px;
            height: 26px;
            background-color: white;
            background-image: url('heart.png');

        }
        .favorite {
            float: right;
        }
        .dislike {
            border-radius: 0;
            background-repeat: no-repeat;
            background-size: contain;
            width: 26px;
            height: 26px;
            background-color: white;
            background-image: url('dislike.png');
        }
    }
    .description-block {
        img {
            max-width: 700px;
        }
    }
    .name {
        div {
            height: 60px;
            width: 60px;
            border-radius: 86px;height: 60px;
            align-items: center;
            margin-right: 10px;
        }
        span {
            font-size: 18px;
        }
        a {
            border: black 1px solid;
            padding: 2px 10px;
            text-decoration: none;
            font-size: 12px;
            height: 20px;
            font-family: 'Golos';
            border-radius: 10px;
            margin-left: 20px;
        }
    }
    p {
        font-family: 'Golos';
        font-size: 19px;
        margin-top: 0;
    }


}

.show-description > div {
    margin-bottom: 20px;
}




.new_comment {
    font-family: 'Golos';
    display: flex;
    flex-direction: column;
    .commenter1 {
        input {
            border: 1px solid black;
            border-radius: 10px;
            font-size: 14px;
            padding: 6px;
            margin-bottom: 5px;
        }
    }
    .comment1 {
        display: flex;
        flex-direction: column;
        textarea {
            border: 1px solid black;
            border-radius: 10px;
            font-size: 14px;
            padding: 6px;
            margin-bottom: 10px;
            width: 100%;
            height: 70px;
        }
    }
}

.delete-comment {
    border: 1px solid black;
    text-align: center;
    border-radius: 22px;
    width: 91px;
    a {
        text-decoration: none;
    }
}

.actions input{
    display: inline-block;
    padding: 5px 15px;
    color: $black-listium;
    @include Text;
    font-family: "Golos-medium";
    font-size: 16px;
    margin-bottom: 10px;
    background: $white-listium;
    border: 2px solid $black_listium;
    box-sizing: border-box;
    border-radius: 8px;
}

#special-title {
    font-size: 24px;
    width: 250px;
}

.show-description input, .show-main-screen input,  .show-description textarea{
    font-size: 21px;
    font-family: 'Golos';
    padding: 0px 16px;
    border-radius: 15px;
}

.show-description textarea {
    width: 86%;
    height: 225px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
